# Contents
## 1. Importing Libraries
## 2. Data Consistency
## 3. Data Wrangling
## 4. Basic Stats of the Data
## 5. Exporting Data

# 1. Importing Libraries

In [2]:
#importing libraries
import pandas as pd
import numpy as np
import os

In [3]:
path= r'C:\Users\spada\OneDrive\Data Analytics\World Happiness Report'

In [4]:
df18 = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', '2018.csv'), index_col = False)

In [5]:
df18

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
0,1,Finland,7.632,1.305,1.592,0.874,0.681,0.202,0.393
1,2,Norway,7.594,1.456,1.582,0.861,0.686,0.286,0.340
2,3,Denmark,7.555,1.351,1.590,0.868,0.683,0.284,0.408
3,4,Iceland,7.495,1.343,1.644,0.914,0.677,0.353,0.138
4,5,Switzerland,7.487,1.420,1.549,0.927,0.660,0.256,0.357
...,...,...,...,...,...,...,...,...,...
151,152,Yemen,3.355,0.442,1.073,0.343,0.244,0.083,0.064
152,153,Tanzania,3.303,0.455,0.991,0.381,0.481,0.270,0.097
153,154,South Sudan,3.254,0.337,0.608,0.177,0.112,0.224,0.106
154,155,Central African Republic,3.083,0.024,0.000,0.010,0.305,0.218,0.038
155,156,Burundi,2.905,0.091,0.627,0.145,0.065,0.149,0.076

In [6]:
#understanding more about the data
df18.info

<bound method DataFrame.info of      Overall rank         Country or region  Score  GDP per capita  \
0               1                   Finland  7.632           1.305
1               2                    Norway  7.594           1.456
2               3                   Denmark  7.555           1.351
3               4                   Iceland  7.495           1.343
4               5               Switzerland  7.487           1.420
..            ...                       ...    ...             ...
151           152                     Yemen  3.355           0.442
152           153                  Tanzania  3.303           0.455
153           154               South Sudan  3.254           0.337
154           155  Central African Republic  3.083           0.024
155           156                   Burundi  2.905           0.091

     Social support  Healthy life expectancy  Freedom to make life choices  \
0             1.592                    0.874                         0.681
1             1.582                    0.861                         0.686
2             1.590                    0.868                         0.683
3             1.644                    0.914                         0.677
4             1.549                    0.927                         0.660
..              ...                      ...                           ...
151           1.073                    0.343                         0.244
152           0.991                    0.381                         0.481
153           0.608                    0.177                         0.112
154           0.000                    0.010                         0.305
155           0.627                    0.145                         0.065

     Generosity  Perceptions of corruption
0         0.202                      0.393
1         0.286                      0.340
2         0.284                      0.408
3         0.353                      0.138
4         0.256                      0.357
..          ...                        ...
151       0.083                      0.064
152       0.270                      0.097
153       0.224                      0.106
154       0.218                      0.038
155       0.149                      0.076

[156 rows x 9 columns]>

# 2. Data Consistency

In [7]:
#checking for missing values
df18.isnull().sum()

Overall rank                    0
Country or region               0
Score                           0
GDP per capita                  0
Social support                  0
Healthy life expectancy         0
Freedom to make life choices    0
Generosity                      0
Perceptions of corruption       1
dtype: int64

#### 1 missing value within "perceptions of corruption"

In [8]:
#Checking for duplicates
df18_dups=df18[df18.duplicated()]

In [9]:
df18_dups

Empty DataFrame
Columns: [Overall rank, Country or region, Score, GDP per capita, Social support, Healthy life expectancy, Freedom to make life choices, Generosity, Perceptions of corruption]
Index: []

#### No duplicates

In [10]:
#finding the median of columns
df18.median()

C:\Users\spada\AppData\Local\Temp\ipykernel_22308\3512466410.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df18.median()

Overall rank                    78.5000
Score                            5.3780
GDP per capita                   0.9495
Social support                   1.2550
Healthy life expectancy          0.6440
Freedom to make life choices     0.4870
Generosity                       0.1740
Perceptions of corruption        0.0820
dtype: float64

In [11]:
#addressing missing value by replacing with median
df18['Perceptions of corruption'].fillna(0.0820, inplace=True)

In [12]:
#checking to make sure missing value was filled with median
df18.isnull().sum()

Overall rank                    0
Country or region               0
Score                           0
GDP per capita                  0
Social support                  0
Healthy life expectancy         0
Freedom to make life choices    0
Generosity                      0
Perceptions of corruption       0
dtype: int64

#### No further missing values

In [13]:
#Finding column names
df18.columns

Index(['Overall rank', 'Country or region', 'Score', 'GDP per capita',
       'Social support', 'Healthy life expectancy',
       'Freedom to make life choices', 'Generosity',
       'Perceptions of corruption'],
      dtype='object')

# 3. Data Wrangling

In [14]:
#renaming 'Overall Rank' column
df18.rename(columns={'Overall rank':'Happiness Rank'}, inplace=True)

In [15]:
#renaming 'Score' column
df18.rename(columns={'Score':'Happiness Score'}, inplace=True)

In [16]:
#renaming 'Healthy life expectancy' column
df18.rename(columns={'Healthy life expectancy':'Health (Life Expectancy)'}, inplace=True)

In [25]:
#renaming 'Social support' column
df18.rename(columns={'Social support':'Social Support'}, inplace=True)

In [17]:
#renaming 'Freedom to make life choices' column
df18.rename(columns={'Freedom to make life choices':'Freedom'}, inplace=True)

In [18]:
#renaming 'Freedom to make life choices' column
df18.rename(columns={'Freedom to make life choices':'Freedom'}, inplace=True)

In [19]:
#renaming 'Overall Rank' column
df18.rename(columns={'Perceptions of corruption':'Trust (Government Corruption)'}, inplace=True)

In [20]:
#renaming 'Country or region' column
df18.rename(columns={'Country or region':'Country or Region'}, inplace=True)

In [21]:
#Creating 'Year' column
df18.loc[:, ["Year"]] = [2018]

In [26]:
df18

,Happiness Rank,Country or Region,Happiness Score,GDP per capita,Social Support,Health (Life Expectancy),Freedom,Generosity,Trust (Government Corruption),Year
0,1,Finland,7.632,1.305,1.592,0.874,0.681,0.202,0.393,2018
1,2,Norway,7.594,1.456,1.582,0.861,0.686,0.286,0.340,2018
2,3,Denmark,7.555,1.351,1.590,0.868,0.683,0.284,0.408,2018
3,4,Iceland,7.495,1.343,1.644,0.914,0.677,0.353,0.138,2018
4,5,Switzerland,7.487,1.420,1.549,0.927,0.660,0.256,0.357,2018
...,...,...,...,...,...,...,...,...,...,...
151,152,Yemen,3.355,0.442,1.073,0.343,0.244,0.083,0.064,2018
152,153,Tanzania,3.303,0.455,0.991,0.381,0.481,0.270,0.097,2018
153,154,South Sudan,3.254,0.337,0.608,0.177,0.112,0.224,0.106,2018
154,155,Central African Republic,3.083,0.024,0.000,0.010,0.305,0.218,0.038,2018
155,156,Burundi,2.905,0.091,0.627,0.145,0.065,0.149,0.076,2018

# 4. Basic Stats on the Data

In [27]:
df18.describe()

,Happiness Rank,Happiness Score,GDP per capita,Social Support,Health (Life Expectancy),Freedom,Generosity,Trust (Government Corruption),Year
count,156.000000,156.000000,156.000000,156.000000,156.000000,156.000000,156.000000,156.000000,156.0
mean,78.500000,5.375917,0.891449,1.213237,0.597346,0.454506,0.181006,0.111808,2018.0
std,45.177428,1.119506,0.391921,0.302372,0.247579,0.162424,0.098471,0.096210,0.0
min,1.000000,2.905000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2018.0
25%,39.750000,4.453750,0.616250,1.066750,0.422250,0.356000,0.109500,0.051000,2018.0
50%,78.500000,5.378000,0.949500,1.255000,0.644000,0.487000,0.174000,0.082000,2018.0
75%,117.250000,6.168500,1.197750,1.463000,0.777250,0.578500,0.239000,0.136500,2018.0
max,156.000000,7.632000,2.096000,1.644000,1.030000,0.724000,0.598000,0.457000,2018.0

# 5. Exporting data

In [28]:
# Export 2018 Data dataframe
df18.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'df18_clean.pkl'))