# Contents
## 1. Importing Libraries
## 2. Data Consistency
## 3. Data Wrangling Pt. 1
## 4. Basic Stats of the Data
## 5. Exporting 2019 Data
## 6. Importing in Dataframes df15,df16,df17,&df18
## 7. Data Wrangling Pt. 2 
## 8. Exporting Data

# 1. Importing Libraries

In [1]:
#importing libraries
import pandas as pd
import numpy as np
import os

In [2]:
path= r'C:\Users\spada\OneDrive\Data Analytics\World Happiness Report'

In [3]:
df19 = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', '2019.csv'), index_col = False)

In [4]:
df19

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
0,1,Finland,7.769,1.340,1.587,0.986,0.596,0.153,0.393
1,2,Denmark,7.600,1.383,1.573,0.996,0.592,0.252,0.410
2,3,Norway,7.554,1.488,1.582,1.028,0.603,0.271,0.341
3,4,Iceland,7.494,1.380,1.624,1.026,0.591,0.354,0.118
4,5,Netherlands,7.488,1.396,1.522,0.999,0.557,0.322,0.298
...,...,...,...,...,...,...,...,...,...
151,152,Rwanda,3.334,0.359,0.711,0.614,0.555,0.217,0.411
152,153,Tanzania,3.231,0.476,0.885,0.499,0.417,0.276,0.147
153,154,Afghanistan,3.203,0.350,0.517,0.361,0.000,0.158,0.025
154,155,Central African Republic,3.083,0.026,0.000,0.105,0.225,0.235,0.035
155,156,South Sudan,2.853,0.306,0.575,0.295,0.010,0.202,0.091

In [5]:
#understanding more about the data
df19.info

<bound method DataFrame.info of      Overall rank         Country or region  Score  GDP per capita  \
0               1                   Finland  7.769           1.340
1               2                   Denmark  7.600           1.383
2               3                    Norway  7.554           1.488
3               4                   Iceland  7.494           1.380
4               5               Netherlands  7.488           1.396
..            ...                       ...    ...             ...
151           152                    Rwanda  3.334           0.359
152           153                  Tanzania  3.231           0.476
153           154               Afghanistan  3.203           0.350
154           155  Central African Republic  3.083           0.026
155           156               South Sudan  2.853           0.306

     Social support  Healthy life expectancy  Freedom to make life choices  \
0             1.587                    0.986                         0.596
1             1.573                    0.996                         0.592
2             1.582                    1.028                         0.603
3             1.624                    1.026                         0.591
4             1.522                    0.999                         0.557
..              ...                      ...                           ...
151           0.711                    0.614                         0.555
152           0.885                    0.499                         0.417
153           0.517                    0.361                         0.000
154           0.000                    0.105                         0.225
155           0.575                    0.295                         0.010

     Generosity  Perceptions of corruption
0         0.153                      0.393
1         0.252                      0.410
2         0.271                      0.341
3         0.354                      0.118
4         0.322                      0.298
..          ...                        ...
151       0.217                      0.411
152       0.276                      0.147
153       0.158                      0.025
154       0.235                      0.035
155       0.202                      0.091

[156 rows x 9 columns]>

# 2. Data Consistency

In [6]:
#checking for missing values
df19.isnull().sum()

Overall rank                    0
Country or region               0
Score                           0
GDP per capita                  0
Social support                  0
Healthy life expectancy         0
Freedom to make life choices    0
Generosity                      0
Perceptions of corruption       0
dtype: int64

#### No missing values

In [7]:
#Checking for duplicates
df19_dups=df19[df19.duplicated()]

In [8]:
df19_dups

Empty DataFrame
Columns: [Overall rank, Country or region, Score, GDP per capita, Social support, Healthy life expectancy, Freedom to make life choices, Generosity, Perceptions of corruption]
Index: []

#### No duplicates

# 3. Data Wrangling Pt. 1

In [9]:
#renaming 'Overall Rank' column
df19.rename(columns={'Overall rank':'Happiness Rank'}, inplace=True)

In [10]:
#renaming 'Score' column
df19.rename(columns={'Score':'Happiness Score'}, inplace=True)

In [11]:
#renaming 'Social support' column
df19.rename(columns={'Social support':'Social Support'}, inplace=True)

In [12]:
#renaming 'Healthy life expectancy' column
df19.rename(columns={'Healthy life expectancy':'Health (Life Expectancy)'}, inplace=True)

In [13]:
#renaming 'Freedom to make life choices' column
df19.rename(columns={'Freedom to make life choices':'Freedom'}, inplace=True)

In [14]:
#renaming 'Perceptions of corruption' column
df19.rename(columns={'Perceptions of corruption':'Trust (Government Corruption)'}, inplace=True)

In [15]:
#renaming 'Country or region' column
df19.rename(columns={'Country or region':'Country or Region'}, inplace=True)

In [16]:
#Creating 'Year' column
df19.loc[:, ["Year"]] = [2019]

In [17]:
df19

,Happiness Rank,Country or Region,Happiness Score,GDP per capita,Social Support,Health (Life Expectancy),Freedom,Generosity,Trust (Government Corruption),Year
0,1,Finland,7.769,1.340,1.587,0.986,0.596,0.153,0.393,2019
1,2,Denmark,7.600,1.383,1.573,0.996,0.592,0.252,0.410,2019
2,3,Norway,7.554,1.488,1.582,1.028,0.603,0.271,0.341,2019
3,4,Iceland,7.494,1.380,1.624,1.026,0.591,0.354,0.118,2019
4,5,Netherlands,7.488,1.396,1.522,0.999,0.557,0.322,0.298,2019
...,...,...,...,...,...,...,...,...,...,...
151,152,Rwanda,3.334,0.359,0.711,0.614,0.555,0.217,0.411,2019
152,153,Tanzania,3.231,0.476,0.885,0.499,0.417,0.276,0.147,2019
153,154,Afghanistan,3.203,0.350,0.517,0.361,0.000,0.158,0.025,2019
154,155,Central African Republic,3.083,0.026,0.000,0.105,0.225,0.235,0.035,2019
155,156,South Sudan,2.853,0.306,0.575,0.295,0.010,0.202,0.091,2019

# 4. Basic Stats of the Data

In [19]:
df19.describe()

,Happiness Rank,Happiness Score,GDP per capita,Social Support,Health (Life Expectancy),Freedom,Generosity,Trust (Government Corruption),Year
count,156.000000,156.000000,156.000000,156.000000,156.000000,156.000000,156.000000,156.000000,156.0
mean,78.500000,5.407096,0.905147,1.208814,0.725244,0.392571,0.184846,0.110603,2019.0
std,45.177428,1.113120,0.398389,0.299191,0.242124,0.143289,0.095254,0.094538,0.0
min,1.000000,2.853000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2019.0
25%,39.750000,4.544500,0.602750,1.055750,0.547750,0.308000,0.108750,0.047000,2019.0
50%,78.500000,5.379500,0.960000,1.271500,0.789000,0.417000,0.177500,0.085500,2019.0
75%,117.250000,6.184500,1.232500,1.452500,0.881750,0.507250,0.248250,0.141250,2019.0
max,156.000000,7.769000,1.684000,1.624000,1.141000,0.631000,0.566000,0.453000,2019.0

# 5. Exporting 2019 Data

In [20]:
# Export 2019 Data dataframe
df19.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'df19_clean.pkl'))

# 6. Importing in Dataframes  df15,df16,df17,&df18

In [21]:
# Import df15_clean dataframe
df15 = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'df15_clean.pkl'))

In [22]:
# Import df16_clean dataframe
df16 = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'df16_clean.pkl'))

In [23]:
# Import df17_clean dataframe
df17 = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'df17_clean.pkl'))

In [24]:
# Import df18_clean dataframe
df18 = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'df18_clean.pkl'))

In [25]:
df15

,Country or Region,Happiness Rank,Happiness Score,GDP per capita,Social Support,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Year
0,Switzerland,1,7.587,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2015
1,Iceland,2,7.561,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2015
2,Denmark,3,7.527,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2015
3,Norway,4,7.522,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2015
4,Canada,5,7.427,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2015
...,...,...,...,...,...,...,...,...,...,...
153,Rwanda,154,3.465,0.22208,0.77370,0.42864,0.59201,0.55191,0.22628,2015
154,Benin,155,3.340,0.28665,0.35386,0.31910,0.48450,0.08010,0.18260,2015
155,Syria,156,3.006,0.66320,0.47489,0.72193,0.15684,0.18906,0.47179,2015
156,Burundi,157,2.905,0.01530,0.41587,0.22396,0.11850,0.10062,0.19727,2015
157,Togo,158,2.839,0.20868,0.13995,0.28443,0.36453,0.10731,0.16681,2015

In [26]:
df16

,Country or Region,Happiness Rank,Happiness Score,GDP per capita,Social Support,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Year
0,Denmark,1,7.526,1.44178,1.16374,0.79504,0.57941,0.44453,0.36171,2016
1,Switzerland,2,7.509,1.52733,1.14524,0.86303,0.58557,0.41203,0.28083,2016
2,Iceland,3,7.501,1.42666,1.18326,0.86733,0.56624,0.14975,0.47678,2016
3,Norway,4,7.498,1.57744,1.12690,0.79579,0.59609,0.35776,0.37895,2016
4,Finland,5,7.413,1.40598,1.13464,0.81091,0.57104,0.41004,0.25492,2016
...,...,...,...,...,...,...,...,...,...,...
152,Benin,153,3.484,0.39499,0.10419,0.21028,0.39747,0.06681,0.20180,2016
153,Afghanistan,154,3.360,0.38227,0.11037,0.17344,0.16430,0.07112,0.31268,2016
154,Togo,155,3.303,0.28123,0.00000,0.24811,0.34678,0.11587,0.17517,2016
155,Syria,156,3.069,0.74719,0.14866,0.62994,0.06912,0.17233,0.48397,2016
156,Burundi,157,2.905,0.06831,0.23442,0.15747,0.04320,0.09419,0.20290,2016

In [27]:
df17

,Country or Region,Happiness Rank,Happiness Score,GDP per capita,Social Support,Health (Life Expectancy),Freedom,Generosity,Trust (Government Corruption),Year
0,Norway,1,7.537,1.616463,1.533524,0.796667,0.635423,0.362012,0.315964,2017
1,Denmark,2,7.522,1.482383,1.551122,0.792566,0.626007,0.355280,0.400770,2017
2,Iceland,3,7.504,1.480633,1.610574,0.833552,0.627163,0.475540,0.153527,2017
3,Switzerland,4,7.494,1.564980,1.516912,0.858131,0.620071,0.290549,0.367007,2017
4,Finland,5,7.469,1.443572,1.540247,0.809158,0.617951,0.245483,0.382612,2017
...,...,...,...,...,...,...,...,...,...,...
150,Rwanda,151,3.471,0.368746,0.945707,0.326425,0.581844,0.252756,0.455220,2017
151,Syria,152,3.462,0.777153,0.396103,0.500533,0.081539,0.493664,0.151347,2017
152,Tanzania,153,3.349,0.511136,1.041990,0.364509,0.390018,0.354256,0.066035,2017
153,Burundi,154,2.905,0.091623,0.629794,0.151611,0.059901,0.204435,0.084148,2017
154,Central African Republic,155,2.693,0.000000,0.000000,0.018773,0.270842,0.280876,0.056565,2017

In [28]:
df18

,Happiness Rank,Country or Region,Happiness Score,GDP per capita,Social Support,Health (Life Expectancy),Freedom,Generosity,Trust (Government Corruption),Year
0,1,Finland,7.632,1.305,1.592,0.874,0.681,0.202,0.393,2018
1,2,Norway,7.594,1.456,1.582,0.861,0.686,0.286,0.340,2018
2,3,Denmark,7.555,1.351,1.590,0.868,0.683,0.284,0.408,2018
3,4,Iceland,7.495,1.343,1.644,0.914,0.677,0.353,0.138,2018
4,5,Switzerland,7.487,1.420,1.549,0.927,0.660,0.256,0.357,2018
...,...,...,...,...,...,...,...,...,...,...
151,152,Yemen,3.355,0.442,1.073,0.343,0.244,0.083,0.064,2018
152,153,Tanzania,3.303,0.455,0.991,0.381,0.481,0.270,0.097,2018
153,154,South Sudan,3.254,0.337,0.608,0.177,0.112,0.224,0.106,2018
154,155,Central African Republic,3.083,0.024,0.000,0.010,0.305,0.218,0.038,2018
155,156,Burundi,2.905,0.091,0.627,0.145,0.065,0.149,0.076,2018

# 7. Data Wrangling Pt. 2

In [29]:
df_combined=pd.concat([df15, df16, df17, df18, df19], keys=['2015', '2016', '2017','2018', '2019'], names=['year'])

In [30]:
df_combined

                 Country or Region  Happiness Rank  Happiness Score  \
year
2015 0                 Switzerland               1            7.587
     1                     Iceland               2            7.561
     2                     Denmark               3            7.527
     3                      Norway               4            7.522
     4                      Canada               5            7.427
...                            ...             ...              ...
2019 151                    Rwanda             152            3.334
     152                  Tanzania             153            3.231
     153               Afghanistan             154            3.203
     154  Central African Republic             155            3.083
     155               South Sudan             156            2.853

          GDP per capita  Social Support  Health (Life Expectancy)  Freedom  \
year
2015 0           1.39651         1.34951                   0.94143  0.66557
     1           1.30232         1.40223                   0.94784  0.62877
     2           1.32548         1.36058                   0.87464  0.64938
     3           1.45900         1.33095                   0.88521  0.66973
     4           1.32629         1.32261                   0.90563  0.63297
...                  ...             ...                       ...      ...
2019 151         0.35900         0.71100                   0.61400  0.55500
     152         0.47600         0.88500                   0.49900  0.41700
     153         0.35000         0.51700                   0.36100  0.00000
     154         0.02600         0.00000                   0.10500  0.22500
     155         0.30600         0.57500                   0.29500  0.01000

          Trust (Government Corruption)  Generosity  Year
year
2015 0                          0.41978     0.29678  2015
     1                          0.14145     0.43630  2015
     2                          0.48357     0.34139  2015
     3                          0.36503     0.34699  2015
     4                          0.32957     0.45811  2015
...                                 ...         ...   ...
2019 151                        0.41100     0.21700  2019
     152                        0.14700     0.27600  2019
     153                        0.02500     0.15800  2019
     154                        0.03500     0.23500  2019
     155                        0.09100     0.20200  2019

[782 rows x 10 columns]

In [31]:
#renaming 'Country or region' column
df_combined.rename(columns={'Country or Region':'country/region'}, inplace=True)

In [32]:
#renaming 'Happiness Rank' column
df_combined.rename(columns={'Happiness Rank':'happiness_rank'}, inplace=True)

In [33]:
#renaming 'Happiness Score' column
df_combined.rename(columns={'Happiness Score':'happiness_score'}, inplace=True)

In [34]:
#renaming 'GDP per capita' column
df_combined.rename(columns={'GDP per capita':'gdp_per_capita'}, inplace=True)

In [35]:
#renaming 'Social Support' column
df_combined.rename(columns={'Social Support':'social_support'}, inplace=True)

In [36]:
#renaming 'Health (Life Expectancy)' column
df_combined.rename(columns={'Health (Life Expectancy)':'health'}, inplace=True)

In [37]:
#renaming 'Freedom' column
df_combined.rename(columns={'Freedom':'freedom'}, inplace=True)

In [38]:
#renaming 'Trust (Government Corruption)' column
df_combined.rename(columns={'Trust (Government Corruption)':'trust_in_government'}, inplace=True)

In [39]:
#renaming 'Generosity' column
df_combined.rename(columns={'Generosity':'generosity'}, inplace=True)

In [40]:
#renaming 'year' column
df_combined.rename(columns={'Year':'year'}, inplace=True)

In [41]:
df_combined

                    country/region  happiness_rank  happiness_score  \
year
2015 0                 Switzerland               1            7.587
     1                     Iceland               2            7.561
     2                     Denmark               3            7.527
     3                      Norway               4            7.522
     4                      Canada               5            7.427
...                            ...             ...              ...
2019 151                    Rwanda             152            3.334
     152                  Tanzania             153            3.231
     153               Afghanistan             154            3.203
     154  Central African Republic             155            3.083
     155               South Sudan             156            2.853

          gdp_per_capita  social_support   health  freedom  \
year
2015 0           1.39651         1.34951  0.94143  0.66557
     1           1.30232         1.40223  0.94784  0.62877
     2           1.32548         1.36058  0.87464  0.64938
     3           1.45900         1.33095  0.88521  0.66973
     4           1.32629         1.32261  0.90563  0.63297
...                  ...             ...      ...      ...
2019 151         0.35900         0.71100  0.61400  0.55500
     152         0.47600         0.88500  0.49900  0.41700
     153         0.35000         0.51700  0.36100  0.00000
     154         0.02600         0.00000  0.10500  0.22500
     155         0.30600         0.57500  0.29500  0.01000

          trust_in_government  generosity  year
year
2015 0                0.41978     0.29678  2015
     1                0.14145     0.43630  2015
     2                0.48357     0.34139  2015
     3                0.36503     0.34699  2015
     4                0.32957     0.45811  2015
...                       ...         ...   ...
2019 151              0.41100     0.21700  2019
     152              0.14700     0.27600  2019
     153              0.02500     0.15800  2019
     154              0.03500     0.23500  2019
     155              0.09100     0.20200  2019

[782 rows x 10 columns]

In [42]:
# Renaming the year column
df_combined.rename(columns={ 'year' : 'y_date'}, inplace = True)

In [43]:
#Defining the average of each column
df_avg_scores = df_combined.groupby(['country/region', 'y_date'])[['happiness_rank','happiness_score','gdp_per_capita', 'social_support','health', 'freedom', 'trust_in_government', 'generosity']].mean()

In [44]:
df_avg_scores

                       happiness_rank  happiness_score  gdp_per_capita  \
country/region y_date
Afghanistan    2015             153.0            3.575        0.319820
               2016             154.0            3.360        0.382270
               2017             141.0            3.794        0.401477
               2018             145.0            3.632        0.332000
               2019             154.0            3.203        0.350000
...                               ...              ...             ...
Zimbabwe       2015             115.0            4.610        0.271000
               2016             131.0            4.193        0.350410
               2017             138.0            3.875        0.375847
               2018             144.0            3.692        0.357000
               2019             146.0            3.663        0.366000

                       social_support    health   freedom  \
country/region y_date
Afghanistan    2015          0.302850  0.303350  0.234140
               2016          0.110370  0.173440  0.164300
               2017          0.581543  0.180747  0.106180
               2018          0.537000  0.255000  0.085000
               2019          0.517000  0.361000  0.000000
...                               ...       ...       ...
Zimbabwe       2015          1.032760  0.334750  0.258610
               2016          0.714780  0.159500  0.254290
               2017          1.083096  0.196764  0.336384
               2018          1.094000  0.248000  0.406000
               2019          1.114000  0.433000  0.361000

                       trust_in_government  generosity
country/region y_date
Afghanistan    2015               0.097190    0.365100
               2016               0.071120    0.312680
               2017               0.061158    0.311871
               2018               0.036000    0.191000
               2019               0.025000    0.158000
...                                    ...         ...
Zimbabwe       2015               0.080790    0.189870
               2016               0.085820    0.185030
               2017               0.095375    0.189143
               2018               0.099000    0.132000
               2019               0.089000    0.151000

[782 rows x 8 columns]

# 8. Exporting Data

In [48]:
# Export df_combined dataframe
df_combined.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'df_combined.pkl'))

In [45]:
# Export df_avg_scores dataframe
df_avg_scores.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'df_avg_combined.pkl'))